.section {
  width: 100%;
  background-color: #0056aa;
}

.iconScroll {
  width: 100%;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  text-align: center;
  color: #fff;
  animation: upDown 2s ease 0.5s infinite;
}
.iconScroll .icon {
  display: block;
  width: 18px;
  height: 28px;
  margin: 5px auto;
  border: 2px solid #fff;
  border-radius: 100px;
  opacity: 0.7;
}
.iconScroll .icon:before {
  width: 2px;
  height: 2px;
  margin: 8px auto 0;
  background-color: #fff;
  display: block;
  position: relative;
  content: "";
}
.iconScroll .txt {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.btn {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #222;
  box-sizing: border-box;
  border: 1px solid #222;
  z-index: 2;
  overflow: hidden;
  color: #222;
}
.btn:before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #0056aa;
  width: 250px;
  height: 100%;
  transform: skewX(-40deg) translateX(-280px);
  transition: 0.3s;
  z-index: -1;
}
.btn:hover {
  border: 1px solid #0056aa;
  color: #fff;
}
.btn:hover:before {
  transform: skewX(-40deg) translateX(-20px);
}

#mainVisual {
  overflow: hidden;
  position: relative;
}
#mainVisual ul {
  position: relative;
}
#mainVisual ul li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  opacity: 0.2;
  z-index: 0;
}
#mainVisual ul li video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}
#mainVisual ul li .txtBox {
  position: absolute;
  top: 50%;
  left: 250px;
  color: #fff;
  transform: translateY(-50%);
  z-index: 1;
}
#mainVisual ul li .txtBox h2 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -2px;
}
#mainVisual ul li .txtBox p {
  font-size: 25px;
  font-weight: 300;
  opacity: 0.8;
}
#mainVisual button {
  width: 67px;
  height: 67px;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#mainVisual button span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
#mainVisual button.prev {
  left: 40px;
}
#mainVisual button.prev:before {
  font-family: "Material Icons";
  content: "arrow_back_ios_new";
  display: inline-block;
  margin-left: 0;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  vertical-align: top;
}
#mainVisual button.next {
  right: 40px;
}
#mainVisual button.next:before {
  font-family: "Material Icons";
  content: "arrow_forward_ios";
  display: inline-block;
  margin-left: 0;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  vertical-align: top;
}
#mainVisual .pagination {
  position: absolute;
  left: 250px;
  bottom: 30%;
  z-index: 2;
  text-align: center;
}
#mainVisual .pagination .swiper-pagination-bullet {
  display: none;
}
#mainVisual .pagination .swiper-pagination-bullet-active {
  width: 60px;
  height: 2px;
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  overflow: hidden;
}
#mainVisual .pagination .swiper-pagination-bullet-active:after {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
  width: 100%;
  animation: width 10s linear infinite;
}

#count {
  height: 540px;
  position: relative;
}
#count:before {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}
#count .container {
  height: 100%;
}
#count .container .countBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#count .container .countBox li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#count .container .countBox li:last-child:before {
  display: block;
  position: absolute;
  content: "";
  font-family: "Material Icons";
  content: "add";
  display: inline-block;
  margin-left: 0;
  font-size: 75px;
  color: #fff;
  top: -100px;
}
#count .container .countBox li .countNumberBox {
  color: #fff;
  margin-bottom: 60px;
}
#count .container .countBox li .countNumberBox p {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 7px;
}
#count .container .countBox li .countNumberBox p span {
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
}
#count .container .countBox li .descText {
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  font-size: 18px;
}

#product {
  width: 100%;
  height: 100vh;
}
#product .list {
  width: 100%;
  height: 100%;
  display: flex;
}
#product .list li {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#product .list li a {
  width: 100%;
  height: 100%;
  display: flex;
}
#product .list li a:hover img {
  transform: scale(1.1);
}
#product .list li a:hover .btn {
  color: #fff;
}
#product .list li a:hover .btn:before {
  transform: skewX(-40deg) translateX(-20px);
}
#product .list li a img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  transition: 0.3s;
}
#product .list li a .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  border: 1px solid #0056aa;
  color: #0056aa;
}

#fullBanner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#fullBanner .list {
  display: flex;
  flex-direction: column;
}
#fullBanner .list li {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#fullBanner .list li:nth-child(1) .txtBox {
  left: 250px;
}
#fullBanner .list li:nth-child(2) .txtBox {
  right: 250px;
  text-align: right;
  align-items: flex-end;
}
#fullBanner .list li:hover img {
  transform: scale(1.1);
}
#fullBanner .list li:hover .btn {
  opacity: 1;
}
#fullBanner .list li img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
#fullBanner .list li .txtBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
#fullBanner .list li .txtBox h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}
#fullBanner .list li .txtBox p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.54px;
  margin-bottom: 90px;
}
#fullBanner .list li .btn {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

#quickMenu {
  height: 500px;
}
#quickMenu .container {
  height: 100%;
}
#quickMenu .container .list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quickMenu .container .list li {
  width: 288px;
  height: 288px;
  margin-right: 70px;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s ease;
}
#quickMenu .container .list li:hover {
  background-color: #fff;
}
#quickMenu .container .list li:hover a {
  color: #0056aa;
}
#quickMenu .container .list li:hover a img {
  transform: translateX(-50%);
}
#quickMenu .container .list li:last-child {
  margin-right: 0;
}
#quickMenu .container .list li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
#quickMenu .container .list li a .inner {
  width: 160px;
  margin-bottom: 20px;
  overflow: hidden;
}
#quickMenu .container .list li a p {
  font-size: 23px;
  font-weight: 700;
}

#sns {
  width: 100%;
  height: 100vh;
}
#sns .container {
  padding-top: 50px;
  height: 100%;
}
#sns .container h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 30px;
}
#sns .container .list {
  display: flex;
  flex-wrap: wrap;
}
#sns .container .list li {
  margin: 0 40px 40px 0;
  overflow: hidden;
}
#sns .container .list li:nth-child(4) {
  margin: 0 0 40px 0;
}
#sns .container .list li:nth-child(8) {
  margin: 0 0 40px 0;
}
#sns .container .list li a {
  width: 320px;
  height: 320px;
  display: block;
  position: relative;
}
#sns .container .list li a:before {
  font-family: "Material Icons";
  content: "filter_none";
  display: inline-block;
  margin-left: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 26px;
  color: #fff;
  z-index: 1;
}
#sns .container .list li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  transition: all 0.3s ease;
}
#sns .container .list li a img:hover {
  transform: scale(1.2);
}

#notice {
  width: 100%;
  height: 100%;
}
#notice .container {
  padding: 80px 0;
  display: flex;
  height: 100%;
}
#notice .container .noticetTitle {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 40px;
}
#notice .container .moreBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  transition: 0.5s;
}
#notice .container .moreBtn:after {
  font-family: "Material Icons";
  content: "add";
  display: inline-block;
  margin-left: 0;
  font-size: 35px;
  line-height: 40px;
}
#notice .container .moreBtn:hover {
  border: 1px solid #0056aa;
  color: #fff;
}
#notice .container .news,
#notice .container .store {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#notice .container .news {
  margin-right: 20px;
}
#notice .container .news .desc li {
  padding: 30px 0;
  border-top: 1px solid #edeff5;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
#notice .container .news .desc li:last-child {
  border-bottom: 1px solid #edeff5;
}
#notice .container .news .desc li a {
  font-size: 18px;
}
#notice .container .store {
  margin-left: 20px;
  overflow: hidden;
}
#notice .container .store .inner {
  height: 100%;
}
#notice .container .store .inner a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  color: #fff;
  background-image: url(../images/main/storeBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#notice .container .store .inner a .txtBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
#notice .container .store .inner a .txtBox .txt {
  padding-top: 30px;
  box-sizing: border-box;
}
#notice .container .store .inner a .txtBox .txt h4 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 30px;
}
#notice .container .store .inner a .txtBox .txt p {
  font-size: 22px;
  font-weight: 600;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes width {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}